@media (max-width: 46.1875em)
{
    #header #nav
    {
        display: block;
    }
    #nav > li
    {
        display: block;
    } 
    #nav .subnav
    {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a
    {
        padding: 4px 41px 4px 41px;
        color: white;
    }
    #header
    {
        overflow: hidden;
    }
    #header .search-button
    {
        display: none;
    }
    #header .mobile-menu-btn
    {
        display: block;
    }
    #content .member-list
    {
        margin-top: 20px;
        margin-bottom: -15px;
    }
    #content .member-item
    {
        width: 100%;
        margin-top: 20px;
    }
    #content .member-img
    {
        margin-bottom: 15px;
        width: 60%;
        border-radius: 4px;
    }
    #content .content-section
    {
        padding: 64px 16px 64px 16px;
    }
    .place-buy-btn
    {
        text-align: center;
        width: 100%;
    }
    .places-list .places-item
    {
        width: 100%;
        margin-top: 15px;
    }
    .contact-infor p
    {
        width: 100%;
    }
    .contact-form
    {
        float: none;
    }
    .row .col-half
    {
        width: 100%;
        display: inline-block;
    }
    .row .col-full
    {
        display: inline-block;
    }
    .row .col-first
    {
        margin-top: 15px;
        margin-bottom: 8px;
    }
    .contact-last-form
    {
        display: inline-block;
        margin-left: 16px;
        width: 100%;
    }
}