*
{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
    font-family: Helvetica;
}
.clear
{
    clear:both;
}
.mt-8
{
    margin-top: 8px !important;
}
.mt-16
{
    margin-top: 16px !important;
}
#nav
{
    display: inline-block;
}
#header
{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav > li
{
    display: inline-block;
} 
#nav > li:first-child
{
    display: inline-block;
}
#nav li
{
    position: relative;
}
#nav li a
{
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px 0 24px;
    display: block;
}
#nav li:hover .subnav
{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a
{
    color: black;
    background-color: #ccc;
}
#nav .nav-arrow-down
{
    font-size: 10px;
}
#nav .subnav
{
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#nav .subnav a
{
    color: black;
    padding: 0 12px 0 12px;
    line-height: 38px;
}
#header .menu-icon,
#header .search-icon
{
    color: white;
    font-size: 13px;
    line-height:46px;
}
#header .mobile-menu-btn,
#header .search-button
{
    float: right;
    padding: 0 21px;
    position: absolute;
    right:0 ;
    top: 0;
}
#header .mobile-menu-btn:hover
{
    background-color: #ccc;
    cursor: pointer;
}
#header .mobile-menu-btn:hover .menu-icon
{
    color: black;
    font-weight: 500;
}
#header .search-button:hover
{
    color: white;
    background-color: red;
    cursor: pointer;
}
#header .mobile-menu-btn
{
    display: none;
}
#slider
{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url("https://www.w3schools.com/w3images/chicago.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#slider .text-paragraph
{
    position: absolute;
    bottom: 48px;
    color: white;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading
{
    font-weight: 500;
    font-size: 24px;
    text-shadow: 0 0 2px black;
}
#slider .text-decription
{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 2px black;
}
#content
{
    height: 0;
}
#content .content-section
{
    width:800px;
    max-width: 100%;
    padding: 64px 0 112px 0;
    margin-left: auto;
    margin-right:auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading
{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#content .section-sub-heading
{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    font-style: italic;
    color: #7c7c7c;
}
#content .about-text
{
    font-size: 15px;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.6;
}
#content .member-item
{
    float: left;
    width: calc(100%/3);
    text-align: center;
}
#content .member-list
{
    margin-top: 48px;
}
#content .member-name
{
    font-size: 15px;
}
#content .member-img
{
    margin: 15px 0 0 0;
    width: 154px;
    border-radius: 4px;
}
.tour-section
{
    background-color: black;
}
.tour-section .section-heading
{
    color: white;
}
.tour-section .tickets-list
{
    background-color: white;
    margin-top: 40px;
}
.tickets-list li
{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}
.tickets-list .sold-out
{
    background-color: #f44336;
    color: white;
    padding : 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity
{
    float: right;
    width: 24px;
    height: 24px;
    margin-top: -2px;
    color: white!important;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}
.places-list
{
    margin: 32px -8px 0 -8px;
    padding-bottom: 48px;
}
.places-list .places-item
{
    float: left;
    width: calc(100%/3);
    padding: 0 8px;
}
.places-img
{ 
    width: 100%;
    display: block;
}
.places-img:hover
{
    opacity: 0.6;
}
.place-body
{
    background-color: white;
    font-size: 15px;
    padding : 16px;
}
.place-heading
{
    font-size: 15px;
    font-weight: 600;
}
.place-time
{
    margin-top: 15px;
    color: #757575;
}
.place-desc
{
    margin-top: 15px; 
    line-height: 1.3;
}
.place-buy-btn
{
    border: none;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover
{
    color: black;
    background-color: #ccc;  
    font-weight: 500;  
}
.row
{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after
{
    content: "";
    display: block;
    clear: both;
}
.col
{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full
{
    width: 100%;
}
.col-half
{
    width: 50%;
}
.col-third
{
    width: calc(100%/3);
}
.contact-content
{
    margin-top: 48px;
}
.contact-infor
{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.contact-infor i
{
    width: 30px;
    display: inline-block;
}
.contact-form
{
    font-size: 15px;
    float: right;
}
.contact-form .form-control
{
    padding: 10px;
    border: 1px solid #757575;
    width: 100%;
}
.contact-last-form
{
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: black;
    padding: 10px 16px;
    border: 1px solid black;
    float: right;
    margin-bottom: 16px;
    text-align: center;
}
.contact-last-form:hover
{
    cursor: pointer;
    background-color: #9c9c9c;
    border: 1px solid #9c9c9c;
}
.map-section img
{
    width: 100%;
}
.modal
{
    position: fixed;
    top:0 ;
    right:0 ;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open
{
    display: flex;
}
.modal-container
{
    position: relative;
    background-color: white;
    width: 900px;
    min-width: calc(100%-32px);
    min-height: 300px;
    animation: modalFideIn ease 0.5s;
}
.modal .modal-header
{
    color: white;
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
}
.modal .modal-header .ti-bag
{
    margin-right: 16px;
}
.modal .modal-close
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    color: white;
}
.modal .modal-close:hover
{
    background-color: #dadada;
}
.modal .modal-label
{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal .modal-body
{
    padding: 16px;
}
.modal .modal-body .modal-input
{
    border: 1px solid #757575;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
#buy-tickets
{
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding : 18.5px;
    width: 100%;
    background-color: #009688;
    border: 1px solid #7c7c7c;
}
#buy-tickets:hover
{
    background-color: #bdbdbd;
    cursor: pointer;
}
.modal-footer
{
    color: black;
    padding: 16px;
    text-align: right;
}
.modal-footer a
{
    color: #2196F3;
}
@keyframes modalFideIn
{
    from
    {
        opacity: 0;
        transform: translateY(-170px)
    }
    to
    {
        opacity: 1;
        transform: translateY(0)
    }
}
.map-section .qq a:hover
{
    color: rgba(0, 0, 0, 0.4);
}
.map-section .qq
{
    padding: 64px 16px;
    text-align: center;
    font-size: 25px;
}
.qq>a
{
    text-decoration: none;
}
.qq a
{
    
    color: rgba(0,0,0,0.6);
}
.map-section .qq .link-w3
{
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgba(0,0,0,0.6);
}
@media (max-width: 739px)
{
    #header #nav
    {
        display: block;
    }
    #nav > li
    {
        display: block;
    } 
    #nav .subnav
    {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a
    {
        padding: 4px 41px 4px 41px;
        color: white;
    }
    #header
    {
        overflow: hidden;
    }
    #header .search-button
    {
        display: none;
    }
    #header .mobile-menu-btn
    {
        display: block;
    }
    #content .member-list
    {
        margin-top: 20px;
        margin-bottom: -15px;
    }
    #content .member-item
    {
        width: 100%;
        margin-top: 20px;
    }
    #content .member-img
    {
        margin-bottom: 15px;
        width: 60%;
        border-radius: 4px;
    }
    #content .content-section
    {
        padding: 64px 16px 64px 16px;
    }
    .place-buy-btn
    {
        text-align: center;
        width: 100%;
    }
    .places-list .places-item
    {
        width: 100%;
        margin-top: 15px;
    }
    .contact-infor p
    {
        width: 100%;
    }
    .contact-form
    {
        float: none;
    }
    .row .col-half
    {
        width: 100%;
        display: inline-block;
    }
    .row .col-full
    {
        display: inline-block;
    }
    .row .col-first
    {
        margin-top: 15px;
        margin-bottom: 8px;
    }
    .contact-last-form
    {
        display: inline-block;
        margin-left: 16px;
        width: 100%;
    }
}